body {
    margin:0;
    font-family:'Poppins', sans-serif;

    background-color:#FBF8E9;
    color:black;
}
.title {
    font-size:5rem;
    color:#F9EAD2;
    text-shadow:0 0 5px black;
    z-index:1;
}

html {
    scroll-snap-type: y mandatory;
    scroll-padding-top:30px;

    font-size: 62.5%;
}
section {
    height:100vh;
    scroll-snap-align: start;
}

form {
    width:100%;
}

a {
    color:#F9EAD2;
}
a:hover {
    color:#EFCA8F;
}

/* Text properties */
h1, h1 a {
    text-shadow: 5px 5px #7A00B8;
    font-size: 3.5rem;
}
h2, h2 a {
    font-size: 3.25rem;
}
h3, h3 a {
    font-size: 3rem;
}
h4, h4 a {
    font-size: 2.75rem;
}
h5, h5 a {
    font-size: 2.5rem;
}
h6, h6 a {
    font-size: 2rem;
}
.navbar-brand, .navbar-brand a {
    font-size: 2rem;
}
p, p a, footer a {
    font-size: 1.75rem;
}
li {
    font-size: 1.75rem;
}
form, label, input, option, textarea, .form-control, .form-select {
    font-size: 1.75rem;
}
.btn {
    font-size: 1.75rem;
}
figcaption, .badge {
    font-size: 1.5rem;
}

/* Article styling for blog landing page*/
article {
    padding:20px;
}
article a {
    background-image: linear-gradient(45deg, #28003B, #64253A);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
}
article a:hover {
    background-color:gray;
}
.article-head {
    padding:20px;
    color:white;
}
.article-spacer {
    background-image: linear-gradient(to bottom left, #EC00F5, white, white);
    padding:none;
    height:50px;
}
.article-spacer hr {
    color:white;
}
.article-body {
    padding:20px;
}
.article-body a {
    color:#7A00B8;
}
.article-body a:hover {
    color:#52007A;
}
.quote-card {
    border-style:solid;
    border-width:5px;
    border-color:#F97AFF;
    border-radius:20px;
    background-color:black;

    width:75%;
}



/* Parallax background */

#grad1 {
    background-image: linear-gradient(to bottom, black, #3e3b2f, #edd0a2, white);
}
#grad2 {
    background-image:radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));
    border-radius:50%;
    size:200%;
}

/* Header gradient */
#header {
    background-image: linear-gradient(to bottom right, black, black, #28003B)
}
#solar {
    background-image: linear-gradient(to bottom right, black, black, black, black, #EBD787, #DCABAB)
}
#atomic {
    background-image: linear-gradient(to bottom right, black, #28003B, #EC00F6);
    text-shadow:0 0 5px black;
}


.text-gradient {
    background-image: linear-gradient(45deg, #f3ec78, #D8A1B2);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
}
.text-gradient2 {
    background-image: linear-gradient(45deg, #F97AFF, #FCCDFE);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
}

.circle {
    height:500px;
    width:500px;
    background-color:yellow;
    border-radius:50%;

    z-index:-1;
    position:absolute;
    top:60%;
    left:50%;

    overflow:hidden;
}
.moon {
    position:absolute; 
    top:10%;
    left:90%;
}
.background,.foreground {
    position:absolute;
}

.background-image {
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
}