body {
    margin:0;
    font-family:'Poppins', sans-serif;
    background-color:#EDE7DE;
}
.title {
    font-size:5rem;
    color:#F9EAD2;
    text-shadow:0 0 5px black;
    z-index:1;
}

html {
    scroll-snap-type: y mandatory;
    scroll-padding-top:30px;

    font-size: 62.5%;
}
section {
    height:100vh;
    scroll-snap-align: start;
}

form {
    width:100%;
}

a {
    color:#F9EAD2;
}
a:hover {
    color:#EFCA8F;
}

/* Text properties */
h1, h1 a {
    text-shadow: 5px 5px #DBCFBD;
    font-size: 3.5rem;
}
h2, h2 a {
    font-size: 3.25rem;
}
h3, h3 a {
    font-size: 3rem;
}
h4, h4 a {
    font-size: 2.75rem;
}
h5, h5 a {
    font-size: 2.5rem;
}
h6, h6 a {
    font-size: 2rem;
}
.navbar-brand, .navbar-brand a {
    font-size: 2rem;
}
p, p a, footer a {
    font-size: 1.75rem;
}
li {
    font-size: 1.75rem;
}
form, label, input, option, textarea, .form-control, .form-select {
    font-size: 1.75rem;
}
.btn {
    font-size: 1.75rem;
}
figcaption, .badge {
    font-size: 1.5rem;
}

/* Article styling for blog landing page*/

article {
    padding:20px;
}
article a {
    color:black;
    text-decoration:none;
}
article a:hover {
    color:#333;
    text-decoration:underline;
    text-decoration-color:green;
}
.post-column {
    width:50%;
}



/* Parallax background */

#grad1 {
    background-image: linear-gradient(to bottom, black, #3e3b2f, #edd0a2, white);
}
#grad2 {
    background-image:radial-gradient(circle, rgba(255,255,255,1), rgba(255,255,255,0));
    border-radius:50%;
    size:200%;
}

/* Header gradient */
#header {
    background-image: linear-gradient(to bottom right, black, black, #3e3b2f, #edd0a2)
}

/* Package backgrounds */
#basic {
    background-image: linear-gradient(to bottom right, #3A180D, #B87045);
    text-shadow:0 0 5px black;
}
#silver {
    background-image: linear-gradient(to bottom right, #4D4D4D, #BFBFBF);
    text-shadow:0 0 5px black;
}
#gold {
    background-image: linear-gradient(to bottom right, #654017, #E9C467);
    text-shadow:0 0 5px black;
}

#carte {
    background-image: linear-gradient(to bottom right, #9967CB, #D5C8DE);
    text-shadow:0 0 5px black;
}
#atomic {
    background-image: linear-gradient(to bottom right, black, #28003B, #EC00F6);
    text-shadow:0 0 5px black;
}

.text-gradient {
    background-image: linear-gradient(45deg, #f3ec78, #D8A1B2);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
}

.circle {
    height:500px;
    width:500px;
    background-color:yellow;
    border-radius:50%;

    z-index:-1;
    position:absolute;
    top:60%;
    left:50%;

    overflow:hidden;
}
.moon {
    position:absolute; 
    top:10%;
    left:90%;
}
.background,.foreground {
    position:absolute;
}

.background-image {
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
    overflow:hidden;
}