body {
    margin:0;
}

a {
    color:#CBE9BF;
}
a:hover {
    color:#65BE41;
}

.title {
    font-size:5rem;
    color:#CBE9BF;
    text-shadow:0 0 5px black;
    z-index:1;
}

/* Parallax background */

#grad {
    background-image: linear-gradient(to bottom, black, #3e3b2f, #edd0a2, white);
}
.circle {
    height:100px;
    width:100px;
    background-color:yellow;
    border-radius:50%;

    position:absolute;
    top:90%;
    left:95%;

    overflow:hidden;
}

.background-image {
    width:105%;
    position:absolute;
    left:-5;
    bottom:0;
    overflow:hidden;
}